@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-medium {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-medium {
  animation: spin-medium 3s linear infinite;
}

/* Marquee animation */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}


